@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

:root {
  --headerHeight: 80px;
  --sectionWidth: 85%;
  --winnerHero: ;
  --dot-color-1: #e487f9;
  --dot-color-2: #f5ce47;
  --dot-color-3: #002e9b;
}

@media (max-width: 1050px) {
  :root {
    --sectionWidth: 90%;
  }
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.4;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.hidden {
  display: none !important;
}

.show {
  display: block !important;
}

.error {
  color: red !important;
}

.contentArea {
  max-width: 1500px;
  margin: 0 auto;
}

.overflow {
  overflow: hidden !important;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* image galary */

.image-gallery {
  width: 100%;
  height: 100%;
}

.image-gallery-thumbnails-wrapper {
  position: relative;
  margin-top: 20px;
}

.image-gallery-thumbnail {
  width: 100px;
  height: 60px;
  margin-right: 10px;
  border: 3px solid #9fc9dd !important;
  border-radius: 5px !important;
  cursor: pointer;
}

.image-gallery-thumbnail.active,
.image-gallery-thumbnail:hover {
  border-color: #f5ce47 !important;
  border-radius: 5px !important;
}

.image-gallery-image,
.image-gallery-slide.image-gallery-center,
.image-gallery-slides {
  border-radius: 20px !important;
}

.image-gallery-left-nav {
  left: -40px !important;
}

.image-gallery-right-nav {
  right: -40px !important;
}

@media (max-width: 850px) {
  .image-gallery-left-nav {
    left: 0 !important;
  }

  .image-gallery-right-nav {
    right: 0 !important;
  }
}

.image-gallery-left-nav .image-gallery-svg,
.image-gallery-right-nav .image-gallery-svg {
  height: 50px !important;
  width: 30px !important;
}

@media (hover: hover) and (pointer: fine) {
  .image-gallery-icon:hover {
    color: #f5ce47 !important;
  }
}

.image-gallery-left-nav,
.image-gallery-right-nav {
  padding: 0 !important;
}

.error_message {
  display: none;
  color: red;
  font-size: 12px;
  position: absolute;
  right: 5px;
  bottom: -18px;
}

@media (max-width: 420px) {
  .error_message {
    position: unset;
  }
}

.cred_error_message {
  display: none;
  color: red;
  font-size: 14px;
  margin: 10px 0px;
  line-height: 1.5;
}

.LoaderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eff9f9;
  height: 100vh;
  position: relative;
  z-index: 0;
  overflow-x: clip;
}

.Toastify__toast-theme--light {
  background: #ffffff !important;
  border: 1px solid cadetblue;
  font-size: 15px;
}

/* date time design */
.react-datepicker__tab-loop {
  position: relative;
}

.react-datepicker-popper {
  width: 100%;
  z-index: 2;
}

.react-datepicker {
  display: grid !important;
  grid-template-rows: 1fr;
  grid-template-columns: 3fr 1fr;
  font-size: 1.6rem !important;
  border: 1px solid #aac7aa;
  border-radius: 8px;
  box-shadow: 0px 0px 6px 2px rgba(170, 199, 170, 0.3);
  overflow: hidden;
}

@media (max-width: 600px) {
  .react-datepicker {
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
  }
}

@media (max-width: 400px) {
  .react-datepicker {
    font-size: 1.4rem !important;
  }
}

.dateOnly .react-datepicker {
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.react-datepicker__month-container {
  float: unset !important;
  width: 100%;
}

.react-datepicker__header {
  background-color: #e9f4e9;
  border-bottom: 1px solid #aac7aa;
  height: 70px;
}

.react-datepicker__current-month,
.react-datepicker-time__header {
  font-size: 1.6rem !important;
  font-weight: 500;
}

.react-datepicker__day-names {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: auto;
  margin-top: 4px;
  padding: 0 16px;
}

@media (max-width: 350px) {
  .react-datepicker__day-names {
    padding: 0 8px;
  }
}

.react-datepicker__day-name {
  margin: 8px !important;
  display: grid;
  place-content: center;
}

.react-datepicker__month {
  margin: 4px !important;
  padding: 4px 12px;
}

@media (max-width: 350px) {
  .react-datepicker__month {
    margin: 0 !important;
    padding: 4px 8px;
  }
}

.react-datepicker__week {
  display: grid;
  grid-template-columns: repeat(7, auto);
  grid-template-rows: auto;
  margin-bottom: 2px;
}

.react-datepicker__day,
.react-datepicker__time-list-item {
  color: #444;
}

.react-datepicker__day:hover {
  border-radius: 4px;
  background-color: #e9f4e9;
  color: #444 !important;
}

.react-datepicker__day--weekend {
  color: #ee6d63 !important;
}

.react-datepicker__day {
  width: 3.4rem !important;
  line-height: 2 !important;
  margin: 0 !important;
}

@media (max-width: 400px) {
  .react-datepicker__day {
    width: 3rem !important;
    line-height: 1.8 !important;
  }
}

.react-datepicker__day--keyboard-selected {
  background-color: transparent !important;
}

.react-datepicker__day--keyboard-selected:focus-visible {
  outline: #40a340 auto 1px !important;
}

.react-datepicker__day--today {
  border-radius: 4px !important;
  background-color: #fcfffc !important;
  color: #70cb70 !important;
  box-shadow: 0 0 2px 1px rgba(64, 163, 64, 0.5) !important;
  font-weight: 500 !important;
}

.react-datepicker__day--selected {
  border-radius: 4px !important;
  background-color: #dff6df !important;
  color: #40a340 !important;
  box-shadow: 0 0 2px 1px rgba(64, 163, 64, 0.5) !important;
  font-weight: 500 !important;
}

.react-datepicker__day--outside-month {
  color: #969696 !important;
}

.react-datepicker__day--disabled {
  color: #e1dfdf !important;
}

.react-datepicker__day--disabled:hover {
  background-color: transparent !important;
  color: #e1dfdf !important;
}

.react-datepicker__time-list-item--selected {
  background-color: #dff6df !important;
  color: #40a340 !important;
  font-weight: 500 !important;
}

@media (max-width: 600px) {
  .react-datepicker__time-list-item--selected {
    border-radius: 4px !important;
    box-shadow: 0 0 2px 1px rgba(64, 163, 64, 0.5) !important;
  }
}

.react-datepicker__month-text,
.react-datepicker__quarter-text,
.react-datepicker__year-text {
  margin: 4px !important;
  width: 2.4rem !important;
  line-height: 1.6 !important;
}

.react-datepicker__time-container {
  float: unset !important;
  width: 100% !important;
  border-left: 1px solid #aac7aa;
}

@media (max-width: 600px) {
  .react-datepicker__time-container {
    border-left: unset;
  }
}

.react-datepicker__time-list::-webkit-scrollbar {
  width: 2px;
}

.react-datepicker__time-list::-webkit-scrollbar-track {
  background: #f1fdf1;
}

.react-datepicker__time-list::-webkit-scrollbar-thumb {
  background: #aeedae;
}

.react-datepicker__navigation-icon::before {
  border-width: 2px 2px 0 0 !important;
  border-color: #97c897;
  transition: all 0.25s;
}

.react-datepicker__time-box {
  width: 100% !important;
}

.react-datepicker__input-container::after {
  content: "";
  background-image: url("/images/icons/calendar.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

.react-datepicker__input-container input {
  cursor: default;
  border: 1px solid #c4c4c4;
  border-radius: 8px;
}

.react-datepicker__navigation:hover *::before {
  border-color: #489148;
}

.react-datepicker-time__header {
  height: 100%;
  display: grid;
  place-content: center;
}

.react-datepicker__time-list-item {
  display: grid;
  place-content: center;
}

.react-datepicker__time-list-item:hover {
  background-color: #dff6df !important;
}

.eventDatePicker .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 122px !important;
}

@media (max-width: 600px) {
  .eventDatePicker .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 2px !important;
  }
}

@media (max-width: 600px) {
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    max-height: 122px;
  }
}

@media (max-width: 400px) {
  .react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .react-datepicker__header--time {
    height: 48px;
  }
}